{#
| Variable                      | Type      | Description                                                         |
|-------------------------------|-----------|---------------------------------------------------------------------|
| items                         | array     | shared variable in all layout, index.twig, and all components views |
| items[].title                 | string    | Section title                                                       |
| items[].name                  | string    | Alias for title                                                     |
| items[].type                  | string    | category,most_sales,latest_products,chosen_products                 |
| items[].featured_product      | Product   |                                                                     |
| items[].special_product.id    | string    | Product string id                                                   |
| items[].special_product.title | string    | Product Name                                                        |
| items[].products[]            | Product[] |                                                                     |
| items[].limit                 | Int       | Number of products to be shown                                      |
| items[].id                    | String    | Section id                                                          |
| postion                       | int       | Sorting number starts from zero                                     |
| is_slider                     | Bool      | Products should be movable or static                                |
#}
<!-- Basic Product Card component usage -->
<!-- Basic Product Card component usage -->
<!-- Basic Product Card component usage -->
{% set component_id='featured-products-style2-' ~ position %}
{% set is_vertical = theme.settings.get('vertical_fixed_products', true) %}
<section class="bg-gray-100 py-8 sm:py-16" id="{{ component_id }}">
    <div class="container mx-auto">

        <div class="tabs hide-scroll mb-8">
            {% for section in items %}
                <h1 class="text-right text-2xl font-light">{{ section.title }}</h1>
            {% endfor %}
        </div>

        <div class="tabs-wrapper">
            {% for section in items %}
                <div id="{{ component_id }}-{{ section.id }}" class="{{ loop.first ? 'block' : 'hidden' }}">
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
                        {% set products = section.products | slice(0, 4) %} <!-- Limit to 4 products -->
                        {% for product in products %}
                            <custom-product-card product="{{ product|json_encode }}" class="flex flex-col"></custom-product-card>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
