<section class="s-block s-block--categories {{ component.merge_with_top_component and position ? 'merge-with-top-component' : '' }} {{ not component.title and component.merge_with_top_component ? 'merged-has-no-title' : '' }}">
	<div class="container mx-auto px-4 py-8">
		{% if component.title %}
			<h2 class="text-center text-5xl slim-font mb-6">{{ component.title }}</h2>
		{% endif %}
		<div class="flex justify-center flex-wrap gap-3">
			{% if component.show_cats %}
				{% for cat in component.categories %}
					<div class="flex flex-col items-center">
						<a href="{{ cat.url }}" class="relative w-24 h-24 bg-custom rounded-full flex items-center justify-center {{ cat.image ? '' : 'has-placeholder' }} hover:bg-white hover:shadow-custom transition-colors duration-300">
							<div class="flex items-center justify-center w-full h-full">
								{% if cat.image %}
									<img src="{{ cat.image ? cat.image : 'images/placeholder.png' | asset }}" class="w-16 h-16 object-cover rounded-full" width="64" height="64" alt="{{ cat.name }}"/>
								{% else %}
									{% if cat.name == "عقود" %}
										<i class="fa fa-gem text-2xl"></i>
									{% elif cat.name == "أطفال" %}
										<i class="fa fa-child text-2xl"></i>
									{% elif cat.name == "أطقم" %}
										<i class="fa fa-box-open text-2xl"></i>
									{% elif cat.name == "كفوف وخلاخل" %}
										<i class="fa fa-link text-2xl"></i>
									{% elif cat.name == "خواتم توينز" %}
										<i class="fa fa-ring text-2xl"></i>
									{% elif cat.name == "خواتم" %}
										<i class="fa fa-circle text-2xl"></i>
									{% elif cat.name == "حلق" %}
										<i class="fa fa-circle-notch text-2xl"></i>
									{% elif cat.name == "أساور" %}
										<i class="fa fa-life-ring text-2xl"></i>
										<!-- استخدام أيقونة مشابهة للأساور -->
									{% endif %}
								{% endif %}
							</div>
							<div class="absolute w-20 h-20 border-2 border-white rounded-full hover:border-custom"></div>
						</a>
						<h2 class="text-center text-lg mt-2">{{ cat.name }}</h2>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
