<section class="s-block s-block--categories {{ component.merge_with_top_component and position ? 'merge-with-top-component' : '' }} {{ not component.title and component.merge_with_top_component ? 'merged-has-no-title' : '' }}">
	<div class="container mx-auto px-4 py-8">
		{% if component.title %}
			<h2 class="text-center text-5xl slim-font mb-6">{{ component.title }}</h2>
		{% endif %}
		<div class="flex justify-center flex-wrap gap-3">
			{% if component.show_cats %}
				{% for cat in component.categories %}
					<div class="flex flex-col items-center">
						<a href="{{ cat.url }}" class="relative w-24 h-24 bg-custom rounded-full flex items-center justify-center {{ cat.image ? '' : 'has-placeholder' }} hover:bg-white hover:shadow-custom transition-colors duration-300">
							<div class="flex items-center justify-center w-full h-full">
								{% if cat.image %}
									<img src="{{ cat.image ? cat.image : 'images/placeholder.png' | asset }}" class="w-16 h-16 object-cover rounded-full" width="64" height="64" alt="{{ cat.name }}"/>
								{% else %}
									{% if cat.name == 'عقود' %}
										<i class="fa fa-gem text-2xl icon"></i>
										<!-- أيقونة ماسة تمثل العقود -->
									{% elseif cat.name == 'أطفال' %}
										<i class="fa fa-child text-2xl icon"></i>
										<!-- أيقونة طفل تمثل الأطفال -->
									{% elseif cat.name == 'أطقم' %}
										<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;" xml:space="preserve">
											<style type="text/css">
												.st0 {
													fill-rule: evenodd;
													clip-rule: evenodd;
													fill: #9E804A;
												}
												.st1 {
													fill: #3C2D1A;
												}
												.st2 {
													fill: #9E804A;
												}
											</style>
											<g>
												<path class="st0" d="M166.2,1811.24H39.28c-7.84,0-14.75-5.14-17.01-12.64l-86.14-286.11c-2.79-9.27-12.48-14.6-21.8-11.98
														l-36.88,10.33c-9.44,2.65-14.96,12.45-12.31,21.89l71.61,255.96c3.17,11.33-5.35,22.55-17.11,22.55h-300.05
														c-11.86,0-20.39-11.39-17.04-22.77l74.97-255.32c2.82-9.6-2.84-19.63-12.51-22.18l-40.71-10.74c-9.34-2.46-18.94,2.99-21.6,12.27
														l-82.07,285.87c-2.19,7.62-9.15,12.86-17.07,12.86h-142.76c-9.81,0-17.76,7.95-17.76,17.76v70.76c0,9.81,7.95,17.76,17.76,17.76
														H166.2c9.81,0,17.76-7.95,17.76-17.76V1829C183.96,1819.19,176.01,1811.24,166.2,1811.24z M14.13,2497.44
														c83.02,0,150.02-67.3,150.02-154.09c0-82.38-67-149.7-150.02-149.7c-83.02,0-153.78,67.32-153.78,149.7
														C-139.64,2430.14-68.89,2497.44,14.13,2497.44L14.13,2497.44z M-70.63,2327.63h47.17c9.81,0,17.76-7.95,17.76-17.76v-47.17
														c0-9.81,7.95-17.76,17.76-17.76h0.02c9.81,0,17.76,7.95,17.76,17.76v47.17c0,9.81,7.95,17.76,17.76,17.76h43.72
														c9.81,0,17.76,7.95,17.76,17.76l0,0c0,9.81-7.95,17.76-17.76,17.76H47.62c-9.81,0-17.76,7.95-17.76,17.76v43.41
														c0,9.81-7.95,17.76-17.76,17.76h-0.02c-9.81,0-17.76-7.95-17.76-17.76v-43.41c0-9.81-7.95-17.76-17.76-17.76h-47.17
														c-9.81,0-17.76-7.95-17.76-17.76l0,0C-88.39,2335.58-80.44,2327.63-70.63,2327.63z M6.27,2146.47c30.08,0,57.63,6.71,81.4,18.62
														c10.84,5.43,23.82-0.52,25.95-12.46l26.97-151c1.95-10.89-6.43-20.89-17.49-20.89h-719.23c-11.07,0-19.45,10.02-17.48,20.92
														l72.53,402.23c1.53,8.46,8.89,14.61,17.48,14.61h329.47c12.44,0,20.64-12.31,16.58-24.07c-6.02-17.44-9.61-36.15-9.61-54.86
														C-187.14,2237.05-100.35,2146.47,6.27,2146.47L6.27,2146.47z"/>
											</g>
											<g>
												<g>
													<path class="st1" d="M695.77,396.48c-10.06,36.14-20.13,72.28-30.2,108.41c-6.45,23.49-12.91,46.98-19.36,70.47
																	c-34.59,124.68-69.18,249.1-103.77,373.51h-1.29c-34.33-124.42-68.92-248.84-103.51-373.51c-6.45-23.49-12.91-46.98-19.62-70.47
																	c-9.81-36.14-19.88-72.28-29.94-108.41H695.77z"/>
													<path class="st1" d="M489.79,939.58c-0.26,0.26-0.78,0.26-1.03,0.52c-98.09-121.58-195.92-243.16-293.75-364.74
																	c-19.1-23.49-37.95-46.98-56.79-70.47c-28.91-35.88-57.56-71.5-86.47-107.38c1.55-2.32,3.61-1.29,5.16-1.29
																	c92.67-0.26,185.59,0,278.26-0.26c6.19,0,6.97,3.1,8,7.23c9.29,34.07,18.58,67.89,27.88,101.7c1.81,6.71,3.61,13.42,5.42,20.13
																	c4.65,16.78,9.29,33.56,13.68,50.34c13.94,50.59,27.88,101.19,41.56,151.78c18.07,66.08,36.14,132.16,54.21,198.24
																	C487.21,930.03,488.5,934.93,489.79,939.58z"/>
													<path class="st1" d="M1029.02,395.96c-29.17,36.4-58.6,72.79-87.76,108.93c-18.84,23.49-37.69,46.98-56.53,70.47
																	C786.64,697.2,688.8,818.77,590.97,940.1c-0.26-0.26-0.77-0.52-1.03-0.52c3.1-11.87,6.19-23.75,9.55-35.37
																	c14.46-50.85,28.65-101.44,43.11-152.29c15.23-54.47,30.72-108.93,45.95-163.4c1.29-4.39,2.58-8.78,3.62-13.16
																	c6.71-23.49,13.16-46.98,19.87-70.47c6.45-22.46,12.65-45.17,19.1-67.89c3.1-11.62,6.71-22.97,9.55-34.59
																	c1.29-4.9,3.61-6.45,8.78-6.45c67.11,0.26,134.23,0,201.08,0H1029.02z"/>
													<path class="st1" d="M542.03,131.61c43.88,74.6,86.18,149.48,127.74,225.51c-86.84,0-172.96,0-259.69,0
																	C450.88,280.1,494.71,205.2,542.03,131.61z"/>
													<path class="st1" d="M1028.61,357.07c-87.01,0-173.04,0-260.11,0c44.81-74.97,88.74-149.83,132.17-225.93
																	C944.72,206.15,987.04,280.92,1028.61,357.07z"/>
													<path class="st1" d="M50.98,357.01c41.56-76.16,83.93-150.91,127.9-225.88c43.38,76,87.2,150.77,132.19,225.88
																	C224.15,357.01,138.14,357.01,50.98,357.01z"/>
													<path class="st1" d="M721.35,358.46c-41.57-78.35-85.26-153.01-132.65-226.83c88.74,0,176.15,0,265.24,0
																	C806.84,205.23,762.96,280.07,721.35,358.46z"/>
													<path class="st1" d="M495.3,131.37c-47.62,74.2-91.35,148.93-132.8,227.06c-41.57-78.17-85.35-153.08-132.83-227.06
																C318.71,131.37,406.1,131.37,495.3,131.37z"/>
												</g>
											</g>
											<rect x="284.31" y="1393.5" class="st2" width="285.98" height="73.39"/>
										</svg>

										<!-- أيقونة صندوق مفتوح تمثل الأطقم -->
									{% elseif cat.name == 'كفوف وخلاخل' %}

										<!-- أيقونة رابط تمثل الكفوف والخلاخل -->
									{% elseif cat.name == 'خواتم توينز' %}

										<!-- أيقونة خاتم تمثل خواتم التوينز -->
									{% elseif cat.name == 'خواتم' %}
										<i class="fa fa-ring text-2xl icon"></i>
										<!-- أيقونة خاتم تمثل الخواتم -->
									{% elseif cat.name == 'حلق' %}

										<!-- أيقونة حلق تمثل الحلق -->
									{% elseif cat.name == 'أساور' %}

										<!-- أيقونة سوار تمثل الأساور -->
										{% else %}

										<!-- أيقونة استفهام كبديل افتراضي -->
									{% endif %}
								{% endif %}
							</div>
							<div class="absolute w-20 h-20 border-2 border-white rounded-full hover:border-custom"></div>
						</a>
						<h2 class="text-center text-lg mt-2">{{ cat.name }}</h2>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
