<section class="s-block s-block--categories">
	<div class="container">
		<salla-slider type="carousel" block-title="{{ component.title }}" controls-outer show-controls="false" id="main-links-{{ position }}">
			<div slot="items">
				{% for link in component.links %}
					<div class="swiper-slide slide--one-sixth">
						<a href="{{ link.url }}" class="slide--cat-entry">
							<i class="{{ link.icon }}"></i>
							<h2>{{ link.title }}</h2>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</salla-slider>
</div></section>
