<section class="s-block s-block--categories {{ component.merge_with_top_component and position ?'merge-with-top-component' : '' }} {{ not component.title and component.merge_with_top_component ? 'merged-has-no-title' : '' }}">
	<div class="container">
		<salla-slider type="carousel" {% if(component.title) or (component.merge_with_top_component) %} block-title="{{ component.title }}" {% endif %} controls-outer show-controls="false" id="main-links-{{ position }}">
			<div slot="items">

				{% for link in component.links %}
					<div class="swiper-slide slide--one-sixth">
						<a href="{{ link.url }}" class="slide--cat-entry">
							<i class="{{ link.icon }}"></i>
							<h2>{{ link.title }}</h2>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</salla-slider>
</div></section>
