{#
| Variable          | Type                 | Description                                               |
|-------------------|----------------------|-----------------------------------------------------------|
| page              | object               |                                                           |
| page.title        | string               |                                                           |
| page.slug         | string               |                                                           |
| brand             | Brand *              |                                                           |
| brand.id          | int                  |                                                           |
| brand.name        | string               |                                                           |
| brand.url         | string               |                                                           |
| brand.logo        | string               |                                                           |
| brand.banner      | ?string              | Null when is not set, or merchant doesn't want to show it |
| brand.description | string               |                                                           |
#}
{% extends "layouts.master" %}
{% block content %}

	<!-- Brand Banner -->
	{% if brand.banner %}
		<div class="relative">
			<img loading="eager" class="w-full h-[300px] object-cover rounded-lg shadow-lg" src="{{ brand.banner }}" alt="{{ brand.name }} Banner">
			<div class="absolute inset-0 bg-gradient-to-r from-black via-transparent to-black opacity-50"></div>
		</div>
	{% endif %}

	<div
		class="container mx-auto mt-10">

		<!-- Breadcrumbs -->
		<nav class="breadcrumbs flex items-center space-x-2 text-gray-500 mb-6">
			<salla-breadcrumb></salla-breadcrumb>
		</nav>

		{% hook 'brands:single.details.start' %}

		<!-- Brand Header -->
		<header class="flex flex-col md:flex-row items-center md:items-start mb-12 md:mb-20">
			<div class="flex-shrink-0 mb-4 md:mb-0 md:mr-6">
				<img class="w-40 h-24 object-contain rounded-md shadow-md p-2 bg-white" src="{{ brand.logo }}" alt="{{ brand.name }} Logo">
			</div>
			<div class="text-center md:text-left">
				<h1 class="text-3xl font-extrabold text-gray-900">{{ brand.name }}</h1>
				<p class="text-lg text-gray-600 mt-2">{{ brand.description|raw }}</p>
			</div>
		</header>

		{% hook 'brands:single.details.end' %}

		<!-- Main Content -->
		<div class="flex flex-col md:flex-row">
			<div class="main-content w-full">

				{% if products|length %}
					{% hook 'brands:single.items.start' %}
					<div
						class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
						<!-- Placeholder for products list -->
						<salla-products-list source="{{ page.slug }}" source-value="{{ page.id }}"></salla-products-list>
					</div>
					{% hook 'brands:single.items.end' %}
				{% else %}
					<div class="no-content-placeholder text-center py-20">
						<span class="inline-flex items-center justify-center w-36 h-36 bg-gray-100 rounded-full mb-6">
							<i class="sicon-award-ribbon text-6xl text-gray-400"></i>
						</span>
						<p class="text-xl text-gray-500">{{ trans('pages.brands.non_products') }}
							{{ brand.name }}</p>
					</div>
				{% endif %}

			</div>
		</div>
	</div>

{% endblock %}
