<footer class="store-footer bg-transparent ">
	<div aria-label="footer" class="store-footer__inner">
		<div
			class="container mx-auto grid grid-cols-1 lg:grid-cols-3 gap-8">
			<!-- Logo and description -->
			<div class="flex flex-col items-start lg:items-end w-full">
				<a class="navbar-brand" href="{{ store.url }}">
					<img class="w-full h-auto max-w-xs" fetchpriority="high" loading="eager" src="{{ store.logo }}" alt="{{ store.name }} logo">
				</a>
				<p class="text-sm lg:text-right">{{ store.slogan }}</p>
			</div>

			<!-- Store description -->
			<div class="flex flex-col items-center  text-justify w-full">
				<p class="text-sm mb-4">
					<sapn>مجوهرات ماس</sapn>
					تجيسد للجمال الازلي والاناقة الفريدة, كل
					<br>
					قطعة مصممة بحرفية قائفة, تحمل طابع الاصالة
					<br>
					والفخامة, متخصصون في قطع الضهب والالماس
					<br>
					المميزة منذ عام 1403 هجري
				</p>
			</div>

			<!-- Location and social media -->
			<div class="flex flex-col items-start lg:items-start w-full">
				<p class="text-sm mb-4">مكان الشركة: المدينة، الدولة</p>
				<salla-social></salla-social>
			</div>
		</div>

		<!-- Footer bottom row -->
		<div class="container mx-auto text-center py-4">
			<p class="text-xs">&copy;
				{{ "now"|date("Y") }}
				{{ store.name }}. جميع الحقوق محفوظة.</p>
		</div>
	</div>
</footer>
